<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>sectiondb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
<div class="container">
  <div class="row">
    <div class="header">
      <h3 class="text-muted">sectiondb</h3>
    </div>

    <div id="demo" class="row marketing" v-cloak>
      <div class="col-md-2 thinner">
        <ul id="section_select" class="nav nav-pills nav-stacked">
          <li class="section-family" @click="can_show()">Canadian<span class="expand fa" :class="showCan ? 'fa-minus' : 'fa-plus'"></span></li>
          <li v-show="showCan" transition="sections" v-for="option in can_sections" role="presentation"><a class="list-item" :class="{active: selected == option.value}" @click="data_load(option.value)">
              {{option.text}}
          </a></li>
          <li class="section-family" @click="euro_show()">European<span class=" expand fa" :class="showEuro ? 'fa-minus' : 'fa-plus'"></span></li>
          <li v-show="showEuro" transition="sections" v-for="option in euro_sections" role="presentation"><a class="list-item" :class="{active: selected == option.value}" @click="data_load(option.value)">
              {{option.text}}
          </a></li>
          <li class="section-family" @click="brit_show()">British<span class=" expand fa" :class="showBrit ? 'fa-minus' : 'fa-plus'"></span></li>
          <li v-show="showBrit" transition="sections" v-for="option in brit_sections" role="presentation"><a class="list-item" :class="{active: selected == option.value}" @click="data_load(option.value)">
              {{option.text}}
          </a></li>
        </ul>
      </div>

      <div class="col-md-10 thinner">
        <input type="search" id="search_input" class="form-control" placeholder="Search" v-model="query">
        <table class="vu-table">
          <thead>
            <tr>
              <th v-for="head in columns" @click="sortBy(head)" class="col-md-1" :class="{active: sortKey == head}" nowrap>
                {{{column_symbols[head]}}}
                <span class="arrow" :class="sortOrders[head] > 0 ? 'asc' : 'dsc'"></span></br>
                <span class="thead_units">{{{units[head]}}}</span>
              </th>
            </tr>
          </thead>
          <tbody class="vu-body">
            <tr class="vu-row" v-for="item in section_list | filterBy query in 'Designation' | orderBy sortKey sortOrders[sortKey] | limitBy limitKey offsetKey" @click="loadModal(item)">
              <td v-for="head in columns">
                {{item[head] | exponent}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-6 table-pagination">
          <p class="page-count">
          Page {{pageKey+1}} of {{lastPage+1}}
          </p>
        </div>
        <div class="col-md-6 table-pagination">
        <div class="list-button-container">
        <button class="list-button btn btn-default" :class="{disabled: pageKey == 0}" @click="prevPage()">
          Prev
        </button>
        <button class="list-button btn btn-default" :class="{disabled: pageKey == lastPage}" @click="nextPage()">
          Next
        </button>
        </div>
        </div>
      </div>
      <div class="modal-mask" v-show="showModal" transition="modal">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" @click="showModal = false"><span aria-hidden="true">&times;</span></button>
              <h4 name="header" class="modal-title">
                {{modal_values["Designation"]}}
              </h4>
            </div>

            <div class="modal-body">
              <img src="{{section_images[modal_image]}}">
              
              <table class="vu-table">
                <thead>
                  <tr>
                    <th class="col-md-6">
                      Parameter
                    </th>
                    <th class="col-md-2">
                    </th>
                    <th class="col-md-2">
                      Value
                    </th>
                    <th class="col-md-2">
                      Unit
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="head in modal_rows">
                    <td>
                      {{column_values[head]}}
                    </td>
                    <td>
                      {{{column_symbols[head]}}} =
                    </td>
                    <td>
                      {{modal_values[head]}}
                    </td>
                    <td>
                      {{{units[head]}}}
                    </td>
                  </tr>
                </tbody>
              </table>         
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button btn btn-default" @click="print()">
                  Print
                </button>
                <button class="modal-default-button btn btn-default" @click="showModal = false">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="footer">
      <p><i class="fa fa-code"></i> by Mantis Software</p>
    </div>
  </div>
</div>
    
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    
    <!-- endbower -->
    <!-- endbuild -->

    
    <!-- build:js(.) scripts/plugins.js -->

    <!-- endbuild -->
    

    <!-- build:js scripts/main.js -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.min.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
