<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>sectiondb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png?v=000w8P4Nwl">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png?v=000w8P4Nwl">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png?v=000w8P4Nwl" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-194x194.png?v=000w8P4Nwl" sizes="194x194">
    <link rel="icon" type="image/png" href="img/favicon-96x96.png?v=000w8P4Nwl" sizes="96x96">
    <link rel="icon" type="image/png" href="img/android-chrome-192x192.png?v=000w8P4Nwl" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png?v=000w8P4Nwl" sizes="16x16">
    <link rel="manifest" href="img/manifest.json?v=000w8P4Nwl">
    <link rel="mask-icon" href="img/safari-pinned-tab.svg?v=000w8P4Nwl" color="#1bc98e">
    <link rel="shortcut icon" href="img/favicon.ico?v=000w8P4Nwl">
    <meta name="msapplication-TileColor" content="#1bc98e">
    <meta name="msapplication-TileImage" content="img/mstile-144x144.png?v=000w8P4Nwl">
    <meta name="msapplication-config" content="img/browserconfig.xml?v=000w8P4Nwl">
    <meta name="theme-color" content="#1bc98e">
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
<div id="demo" class="window">
 
  <header class="toolbar toolbar-header">
    <h1 class="title">sectiondb</h1>
    <div class="toolbar-actions">
    <div class="btn-group">
      <button class="btn btn-default">
        <span class="fa fa-plus"></span>
      </button>
      <button class="btn btn-default">
        <span class="fa fa-folder"></span>
      </button>
      <button class="btn btn-default">
        <span class="fa fa-cloud"></span>
      </button>
      <div class="btn-group" v-bind:class="{open:showDrop}">
        <button type="button" class="btn btn-default dropdown-toggle" @click="toggleDropDown" @blur="showDrop = false"> <span class="fa fa-columns"></span></button>
        <ul class="dropdown-menu">
          <li v-for="option in allColumns"><a @mousedown.prevent="dropListClick(option)">{{option}}<span :class="['fa', chosen[option] ? 'fa-check-square-o' : 'fa-square-o']"></span></a></li>
        </ul>
      </div>
    </div>
    <input type="search" id="search_input" class="form-control" placeholder="Search" v-model="query">
    </div>
  </header>
  <div v-cloak class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <nav id="section_select" class="nav nav-pills nav-stacked">
          <h5 class="section-family" @click="can_show()">Canadian<span class="expand fa" :class="showCan ? 'fa-minus' : 'fa-plus'"></span></h5>
          <span v-show="showCan" transition="sections" v-for="option in can_sections" role="presentation"><a class="list-item" :class="{active: selected == option.value}" @click="data_load(option.value)">
              {{option.text}}
          </a></span>
          <h5 class="section-family" @click="euro_show()">European<span class=" expand fa" :class="showEuro ? 'fa-minus' : 'fa-plus'"></span></h5>
          <span v-show="showEuro" transition="sections" v-for="option in euro_sections" role="presentation"><a class="list-item" :class="{active: selected == option.value}" @click="data_load(option.value)">
              {{option.text}}
          </a></span>
          <h5 class="section-family" @click="brit_show()">British<span class=" expand fa" :class="showBrit ? 'fa-minus' : 'fa-plus'"></span></h5>
          <span v-show="showBrit" transition="sections" v-for="option in brit_sections" role="presentation"><a class="list-item" :class="{active: selected == option.value}" @click="data_load(option.value)">
              {{option.text}}
          </a></span>
        </nav>
      </div>

      <div class="pane">
        <table class="vu-table">
          <thead>
            <tr>
              <th v-for="head in columns" @click="sortBy(head)" :class="{active: sortKey == head}" nowrap>
                {{{column_symbols[head]}}}
                <span class="thead_units">{{{units[head] | brackets $index}}}</span>
                <span :class="['arrow', sortOrders[head] > 0 ? 'asc' : 'dsc']"></span>
              </th>
            </tr>
          </thead>
          <tbody class="vu-body">
            <tr class="vu-row" v-for="item in section_list | filterBy query in 'Designation' | orderBy sortKey sortOrders[sortKey] | limitBy limitKey offsetKey" @click="loadModal(item)">
              <td v-for="head in columns">
                {{item[head] | exponent}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-pagination">
          <p class="page-count">
          Page {{pageKey+1}} of {{lastPage+1}}
          </p>
        </div>
        <div class="list-button-container">
        <button class="list-button btn btn-default" :class="{disabled: pageKey == 0}" @click="prevPage()">
          Prev
        </button>
        <button class="list-button btn btn-default" :class="{disabled: pageKey == lastPage}" @click="nextPage()">
          Next
        </button>
        </div>
      </div>
      <div class="modal-mask" v-show="showModal" transition="modal">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <button type="button" class="close" aria-label="Close" @click="showModal = false"><span aria-hidden="true">&times;</span></button>
              <h4 name="header" class="modal-title">
                {{modal_values["Designation"]}}
              </h4>
            </div>

            <div class="modal-body">
              <img src="{{section_images[modal_image]}}">
              
              <table class="vu-table">
                <thead>
                  <tr>
                    <th class="col-md-6">
                      Parameter
                    </th>
                    <th class="col-md-2">
                    </th>
                    <th class="col-md-2">
                      Value
                    </th>
                    <th class="col-md-2">
                      Unit
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="head in modal_rows">
                    <td>
                      {{column_values[head]}}
                    </td>
                    <td>
                      {{{column_symbols[head]}}}
                    </td>
                    <td>
                      {{modal_values[head]}}
                    </td>
                    <td>
                      {{{units[head]}}}
                    </td>
                  </tr>
                </tbody>
              </table>         
            </div>

            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button btn btn-default" @click="print()">
                  Print
                </button>
                <button class="modal-default-button btn btn-default" @click="showModal = false">
                  OK
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <div class="footer-signature"><i class="fa fa-code"></i> by Mantis Software</div>
  </footer>
  
</div>
    
    
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    
    <!-- endbower -->
    <!-- endbuild -->

    
    <!-- build:js(.) scripts/plugins.js -->

    <!-- endbuild -->
    

    <!-- build:js scripts/main.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.min.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
