body: {
  font-family: 'Roboto', sans-serif;
}

[v-cloak] {
  display: none;
}

.footer {
  float: right;
  margin-top: 20px;
}

.text-muted {
    margin-bottom: 0;
}

.vu-table {
    font-family: Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.vu-table tr:nth-child(odd) {
    background-color:#fff
}
.vu-table tr:nth-child(even) {
    background-color:#f2f2f2
}

.vu-table th {
    padding: 8px;
    border: none;
    cursor: pointer;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
}

th:nth-child(n+2), td:nth-child(n+2) {
    text-align: center;
}

.vu-table td {
    padding: 4px;
    border: none;
}

.vu-table tr {
    border-bottom: 1px solid #d0d0d0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
}

.vu-body tr {
    cursor: pointer;
}

.vu-body tr:hover {
    background-color: #F0FFFA;
}

#search_input {
    width: 266px;
    border-radius: 16px;
    float: right;
    margin-top:10px;
    margin-bottom: 10px;
}

#search_input:focus {
    border-color: #1bc98e;
}

#section_select{
    margin-top: 39px;
}

.section-family{
    font-size: 85%;
    font-weight: normal;
    letter-spacing: 1px;
    color: #525252;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
}

.section-family:hover > .expand {
    -webkit-animation: swing 1s;
    animation: swing 1s;
    color: #1bc98e;
}

.list-item {
    cursor:pointer;
    margin-bottom: 2px;
    color: #1bc98e;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
}

.list-item.active {
    background-color: #1bc98e;
    border-color: #1bc98e;
    color: #ffffff;
}

.list-item:hover {
    color: #1bc98e;
}

.list-item.active:hover {
    background-color: #1bc98e;
    border-color: #1bc98e;
    color: #ffffff;
}

.thinner {
    padding-left: 5px;
    padding-right: 5px;
}

th.active {
  background-color: #ECECEC;
}

th.active .arrow {
  opacity: 1;
}

.expand {
  margin-left: 8px;
  font-size: 10px;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 10px;
  color: #ccc;
}

.arrow:after {
  font-family: FontAwesome;
  content: "\f0dc";
}

.active .arrow.asc:after {
  font-family: FontAwesome;
  content: "\f0de";
  color: #1bc98e;
}

.active .arrow.dsc:after {
  font-family: FontAwesome;
  content: "\f0dd";
  color: #1bc98e;
}


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 450px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  overflow: hidden;
}

.modal-title {
  text-align: center;
}

.modal-values {
  float: right;
}

.modal-default-button {
  float: right;
  margin-left: 5px;
}

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}

#beam {
  display: inline-block;
  background: black;
  height: 100px;
  position: relative;
  width: 10px;
  margin-left: 50px;
  margin-top: 15px;
  border: 1px solid black;
}
#beam:before {
  background: black;
  content: "";
  height: 12px;
  left: -45px;
  position: absolute;
  top: -13px;
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
}

#beam:after {
  background: black;
  content: "";
  height: 12px;
  left: -45px;
  top: 99px;
  position: absolute;
  width: 100px;
  border: 1px solid black;
  border-radius: 2px;
}

.sections-transition {
  transition: all .3s ease;
  overflow: hidden;
  height: 40px;
}

.sections-enter, .sections-leave {
  height: 0;
  opacity: 0;
}

.thead_units {
  font-size: 12px;
  color: #525252;
}

.list-button-container {
  float: right;
  margin-top: 10px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #1bc98e;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #1bc98e;
    border-color: #1bc98e;
}

.btn-default.disabled:hover {
    color: #333;
}

.table-pagination {
  padding: 0;
}

.page-count {
  margin-top: 10px;
}